* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color:#ffea00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin: 5rem 0 2rem 0;
    font-size: 3.2rem;
    font-weight: 400;
}
#msg {
    margin: 1rem 0;
    color: #28334aff;
    font-size: 2rem;
}
h2 {
    letter-spacing: 1.4;
    color: #888;
    font-size: 2.8rem;
}
.imgs {
    display: flex;
    gap: 160px;
}
.imgs div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .4s;
}
.imgs div span {
    font-size: 1.6rem;
    font-weight: 600;
    color: gray;
}
.imgs div:hover  {
    transform: translateY(-1rem);
}
#game-log {
    display: flex;
    gap: 160px;
    margin-top: 4rem;
}
#game-log li {
    list-style: none;
    text-align: center;
    font-size: 1.4rem;
    color: #28334aff;
    text-transform: uppercase;
    padding: 0.4rem 0;
}
#game-log h2 {
    font-size: 2rem;
}